@import './../../styles/variable';

//HEADER
.header {
    background-color: var(--color-white) ;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
     
    &_menu {
      &_lists {
        list-style-type: none;
        display: flex;
        &_item {
          &:not(:last-child){
            margin-right: 2rem;

          }
  
          & > a {
            font-size: 1rem;
            text-decoration: none;
            color: var(--color-text-dark);
            font-weight: 500;
            @media screen and (max-width: $bp-small){
              font-size: .7rem;
            }
          }
  
        }
      }
    }
  }