@import './../../styles/variable';

.project {
    width: 60%;
    margin: auto;

    @media screen and (max-width: $bp-large){
        width: 80%;
    }
    &_heading {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > h2 {
            font-size: 1.5rem;
            font-weight: 600;

            @media screen and (max-width: $bp-middle){
                font-size: 1rem;
            }
        }
        & > p {
            font-size: 1rem;
            font-weight: 200;

            @media screen and (max-width: $bp-middle){
                font-size: .7rem;
                text-align: center;
            }
        }
    }

    &_showall {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
}



