@import './../../styles/variable';

.project {
    width: 60%;
    margin: auto;

    @media screen and (max-width: $bp-large){
        width: 80%;
    }
    &_heading {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > h2 {
            font-size: 1.5rem;
            font-weight: 600;

            @media screen and (max-width: $bp-middle){
                font-size: 1rem;
            }
        }
        & > p {
            font-size: 1rem;
            font-weight: 200;

            @media screen and (max-width: $bp-middle){
                font-size: .7rem;
                text-align: center;
            }
        }
    }
}

.portfolio {
    margin-top: 2rem;
    list-style-type: none;

    &_item {
        background-color: var(--color-grey-1);
        padding: 1rem;
        border-radius: 1rem;

        &_content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1rem;

            @media screen and (max-width: $bp-verysmall){
                grid-template-columns: 1fr;
            }
        }

        &_description {

            &_title {
                color: var(--color-primary);
                font-size: 1.2rem;
                font-weight: 600;
            }
            &_date {
                font-weight: 500;
                margin-bottom: 1rem;
            }
            &_info {
                line-height: 1.2rem;
                font-size: .7rem;
                font-weight: 300;
            }
            & > h3 {
                color: var(--color-primary);
            }
            &_stack {
                list-style-type: none;
                display: flex;

                @media screen and (max-width: $bp-verysmall){
                   margin-bottom: 1rem;
                }
                & > li {
                    font-weight: 700;
                    &:not(:last-child){
                        margin-right: .7rem;
                    }
                }
            }
        }

        &_image {
            width: 100%;
            box-shadow: .6rem .6rem 1rem rgba(0,0,0,.2);

            align-self: start;
        }

        &_action {
            display: flex;
            justify-content: flex-end;
            margin-top: 2rem;

            @media screen and (max-width: $bp-verysmall){
                justify-content: center;
                align-items: center;
             }
        }
    }
}

.btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    outline: none;
    border: none;
    border-radius: .2rem;
    padding: .4rem 1rem;
    cursor: pointer;
    
    &:hover {
        box-shadow: .6rem .6rem 1rem rgba(0,0,0,.2);
    }
    &:not(:last-child){
        margin-right: .9rem;
    }
}