@import './../../styles/variable';

//HERO PRIMARY
.hero_container {
    //bgColor
    background-color: var(--color-grey-1);
    position: relative;
  
    &_shadow_top {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: .4rem;
      height: 4%;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0) 0%,
        hsl(0, 0%, 100%) 100%
     );

     
    }
  
    &_shadow_bottom {
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      padding: 0.4rem;
      height: 40%;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        hsl(0, 0%, 100%) 100%
     );
    }
}
  
.hero {
    width: 80%;  
    margin: auto;
    padding: 2rem 6rem 0 6rem;
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @media screen and (max-width: $bp-middle){
      padding: 0;
    }
    
    @media screen and (max-width: $bp-large){
      width: 100%;
    }
    
    &_img_container {
      position: relative;
      margin-right: 3rem;
      align-self: end;
      background-color: inherit;

      @media screen and (max-width: $bp-verysmall){
        margin: 0;
      }
      &_item {
        width: 100%;
        border-radius: 50%;
        display: block;

        @media screen and (max-width: $bp-middle){
          border-radius: 0%;
        }
      }
      &_shadow {
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        padding: 0.4rem;
        height: 30%;
        background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        hsl(0, 0%, 100%) 100%
     );
      }
    }
  
    &_info {
      &_detail {
        & > h1 {
          font-size: 3.5rem;
          font-weight: 700;
          @media screen and (max-width: $bp-medium){
            font-size: 2.5rem;
          }
          @media screen and (max-width: $bp-middle){
            font-size: 1.5rem;
          }
          @media screen and (max-width: $bp-verysmall){
            font-size: 1rem;
          }
          
        }
        & > h2 {
          font-size: 2.5rem;
          font-weight: 200;

          @media screen and (max-width: $bp-medium){
            font-size: 1.4rem;
          }
          @media screen and (max-width: $bp-middle){
            font-size: 1.2rem;
          }
          @media screen and (max-width: $bp-verysmall){
            font-size: 1rem;
          }
          @media screen and (max-width: $bp-tiny){
            font-size: .8rem;
          }
        }
        & > h3 { 
          color: var(--color-primary);
          font-size: 2rem;
          font-weight: 900;
          @media screen and (max-width: $bp-medium){
            font-size: 1.4rem;
          }
          @media screen and (max-width: $bp-middle){
            font-size: 1.2rem;
          }
          @media screen and (max-width: $bp-verysmall){
            font-size: 1rem;
          }
          @media screen and (max-width: $bp-tiny){
            font-size: .8rem;
          }
         }
      }
  
     
    }
  }