@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;900&display=swap');

:root {
  --color-primary: #E31F52;
  --color-grey-1: #F8F8F8;
  --color-grey-2: #F0F0F0;
  --color-grey-3: #B5AFAF;
  --color-text-dark: #111;
  --color-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 62.5%;
  background-color: #fff;
}

