@import './../../styles/variable';

.about {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    width: 80%;
    margin: auto;

    @media screen and (max-width: $bp-small){
        grid-template-columns: 1fr;
    }

    &_descriptions {
        z-index: 1;
        & > h2 { 
            font-size: 1.5rem; 
            font-weight: 600;
            

            @media screen and (max-width: $bp-middle){
                font-size: 1rem;
            }
        }
        &_text {
            line-height: 2.3rem;
            font-size: 1rem;
            font-weight: 500;

            &:not(:last-child){
                margin-bottom: 1rem;
            }
            @media screen and (max-width: $bp-verysmall){
                line-height: 1.6rem;
                font-size: .8rem;
            }
            @media screen and (max-width: $bp-tiny){
                font-size: .6rem;
            }
        }
    }

    &_myskills {
        z-index: 1;
        & > h2 { 
            font-size: 1.5rem; 
            font-weight: 600;
            @media screen and (max-width: $bp-middle){
                font-size: 1rem;
            }
            @media screen and (max-width: $bp-small){
                margin-top: 2rem;
            }
        }
    }

}

.skills {
    margin-top: 3rem;
    list-style-type: none;

    @media screen and (max-width: $bp-small){
        margin-top: 1rem;
    }
    &_item {
        position: relative;

        border: 1px solid var(--color-primary);
        padding: 1rem;
        border-radius: .4rem;

        & > h3 {
            position: absolute;
            top: -10px;
            left: -10px;

            background-color: var(--color-primary);
            color: var(--color-white);
            font-style: italic;
            display: inline-block;
            word-break: break-word;
            white-space: normal;
            transform: rotate(-5deg);
            padding: .1rem 1.7rem;
        }

        & > span {
            font-size: .8rem;
            font-weight: 500;
        }

        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }
}